$mobileScreen: 488px;
$tabletScreen: 770px;
$desktopScreen: 1210px;

$logo-color: #4D5660;
$lang-color: #6F6F6F;
$text-color: #000;

$bg-color: rgb(213, 203, 203);
$font-color: #333;
$trash-body-color: #eee;

$read-color: #41aa22;
$unread-color: orange;
$delete-color: #ff0000;